body{
    background-color: rgb(71, 57, 38);
}
section{
    text-align: center;
}
#container{
    background-color: rgb(243, 243, 243, 70%);
    color:rgb(59, 53, 22);
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 150px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(255, 201, 139);
    transition: all 1s linear;
}
h1{
    margin-bottom: 10px;
    padding-top: 13px;
}
.input{
    padding: 10px;
    margin: 5px;
    width: 200px;
    box-sizing: border-box;
    border-radius: 10px;
}
#button{
    background-color: rgb(71, 57, 38);
    color: white;
    transition: all 0.2s linear;
    margin-bottom: 0;
}
#button:hover{
    box-shadow: 0px 0px 8px rgb(71, 57, 38);
}
#result{
    color:rgb(71, 57, 38);
    text-align: left;
    margin-left: 40px;
    margin-right: 30px;
    padding: 10px;
}
.validate:invalid {
    border: 1px solid red;
    background-color: rgb(252, 239, 239);
    box-shadow: 0px 0px 5px rgb(252, 84, 84);
}
h3 {
    margin: 9px;
    font-family: Arial, Helvetica, sans-serif;
}
#meat{
    color: black;
}
#beer{
    color:rgb(97, 44, 0);
}
#soda{
    color: rgb(255, 0, 0);
}